[submodule "FiftyOne.Pipeline.Core/Configuration/Validation"]
	path = FiftyOne.Pipeline.Core/Configuration/Validation
	url = ../configuration-validation

[submodule "JavascriptTemplates"]
	path = FiftyOne.Pipeline.Elements/FiftyOne.Pipeline.JavaScriptBuilderElement/Templates
	url = ../javascript-templates
[submodule "owid-dotnet"]
	path = owid-dotnet
	url = https://github.com/SWAN-community/owid-dotnet.git
